/* FONTS */ 
/* Fonts sourced from Font Meme */
/* Main font */ 
@font-face {
    font-family: gabrielWeissFriends;
    src: url(../fonts/GabrielWeissFriendsFont-VGq7B.ttf);
}

/* Back-up font in case main font fails to load */
@font-face {
    font-family: crashbow;
    src: url(../fonts/Crashbow.ttf);
}

/* Asterisk wildcard selector/universal selector to override default margin added by the browser */
* {
    margin: 0;
}

/* CSS VARIABLES */
:root {
    --dot-red: rgb(255, 0, 0); /* Pure red */
    --dot-blue: #33cff9; /* Vivid sky blue */
    --dot-yellow: #ffc73f; /* Sunglow */
    --gold-doorknob: #dfb75d; /* Gold (metallic) */
    --peephole-frame-yellow: #ffcb09; /* Jonquil */
    --monica-apartment-purple: #8281c7; /* Tropical Indigo */
}

body {
    background-color: var(--monica-apartment-purple);
    font-family: gabrielWeissFriends, crashbow, cursive, serif;
    }

/* NAV BAR */
header {
    background-color: var(--peephole-frame-yellow);
}
/* HOMEPAGE */ 

 #hero-and-title-section {
    /* Need to set height and width to full viewport height and width so image takes up whole screen */
    min-height: 100vh;
    width: 100vw; 
    background-image: url("../images/central-perk-hero.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

 /* The font size specified here affects the h2 text (the one with all the questions) only */
 #homepage-text-container {
    font-size: 14Spx;
    background-color: rgba(130,129,199, 90%); /* Monica apartment purple with alpha value added */
    color: black;
    letter-spacing: 10px;
    border: 5px solid var(--gold-doorknob);
    padding: 15px;
 }

 /* The font size specified here affects the h1 text (F.R.I.E.N.D.S) only) */ 
#homepage-text h1 {
    font-size: 23px;
    letter-spacing: normal;
}

/* Coloured in between the word 'Friends' */
.red-dot {
    color: var(--dot-red);
}

.blue-dot {
    color: var(--dot-blue);
}

.yellow-dot {
    color: var(--dot-yellow)
}
